name: Build and Test
on:
  push:
    branches: ["master"]
    paths: ["**"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.2'

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...
